:root {
    /* Farver */
    --colorRed100: #E89B96;
    --colorRed200: #DF756E;
    --colorRed300: #D54A41;
    --colorRed400: #AC3931;
    --colorRed500: #822B25;
    --colorRed600: #5B1E1A;
    --colorGreen100: #69C17D;
    --colorGreen200: #2EA94A;
    --colorGreen300: #228C3A;
    --colorGreen400: #1B6F2E;
    --colorGreen500: #145423;
    --colorGreen600: #0E3A18;
    --colorBlue100: #8FB2DF;
    --colorBlue200: #6796D3;
    --colorBlue300: #3F7BC8;
    --colorBlue400: #2861AB;
    --colorBlue500: #1E4A81;
    --colorBlue600: #153259;
    --colorGray100: #AFAFAF;
    --colorGray200: #949494;
    --colorGray300: #7A7A7A;
    --colorGray400: #616161;
    --colorGray500: #494949;
    --colorGray600: #323232;
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;

    /* Line height */
    --body: 1.3;
    --heading: 1.5;

    /* Typografi */
    --text4xl: 3.052 rem;
    --text3xl: 2.441 rem;
    --text2xl: 1.953 rem;
    --textXl: 1.563 rem;
    --textLg: 1.25 rem;
    --textBase: 1 rem;
    --textSm: 0.8 rem;
    --textXs: 0.64 rem;
    --textXxs: 0.512 rem;
    --colorBackgroundButtonPrimary: #3F7BC8;
    --colorText: #000000;
    --colorBackgroundButtonPrimaryHover: #1E4A81;
    --colorTextLink: #0E3A18;
    --colorTextError: #D54A41;
    --colorTextSucces: #228C3A;
    --colorBackground: #FFFFFF;
    --colorBorder: #323232;
    --colorBackgroundContainer: #AFAFAF;
  }
  