---
import Card from "../components/Card.astro";
import Single from "../components/Single.astro";
import Single1 from "../components/Single.astro";
import Button from "../components/Button.astro";
import Store from "../components/Store.astro";
import svgReference from "./farver.svg";
import "../styles/global.css";
import Type from "../components/Type.astro";
import Type1 from "../components/Type1.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Komponent bibliotek</title>
  </head>
  <body>
    <main>
      <h1>Komponent Bibliotek</h1>
      <h2>Farvepalette</h2>
      <div class="color-palette">
        <img src="src/farver.svg" alt="farver" />
      </div>
      <h2>Typografi Hierarki</h2>

      <div>
        <Type1
          h1="faraos cigarer"
          h2="faraos cigarer"
          h3="faraos cigarer"
          h4="faraos cigarer"
          h5="faraos cigarer"
          h6="faraos cigarer"
          p="faraos cigarer"
        />
      </div>

      <h2>Indholdselementer</h2>
      <h3>Knapper</h3>
      <div class="content">
        <Button href="/" variant="primary">Læg i kurv</Button>
        <Button href="/" variant="primaryHover">Læg i kurv</Button>
        <Button href="/" variant="secondary">Forudbestil</Button>
        <Button href="/" variant="secondaryHover">Forudbestil</Button>
      </div>
      <h3>Cards</h3>
      <div class="content">
        <div>
          På Lager<Card
            imgPath="https://helenaadelaide.dk/kea/11_interfacedesign/faraos/billeder/Comic_1.webp"
            title="Iron Man - The invincible"
            beskrivelse="Udgave 37"
            pris="DKK 129,-"
            status="På lager"
            button="Læg i kurv"
            levering="1-2 hverdage"
          />
        </div>

        <div>
          Udsolgt - mulighed fo resavation<Card
            imgPath="https://helenaadelaide.dk/kea/11_interfacedesign/faraos/billeder/Comic_2.webp"
            title="Batman - Reborn"
            beskrivelse="Udgave 420"
            pris="DKK 139,-"
            status="Udsolgt"
            button="Resever"
            levering="7-10 hverdage"
          />
        </div>

        <div>
          Udsolgt - ikke muligt at resavere<Card
            imgPath="https://helenaadelaide.dk/kea/11_interfacedesign/faraos/billeder/Comic_3.webp"
            title="Moon Knight - The Legend"
            beskrivelse="Udgave 69"
            pris="DKK 89,-"
            status="Udsolgt"
            button="Kommer snart"
            levering="1-2 hverdage"
          />
        </div>
      </div>

      <h3>Single view</h3>
      <div class="content_single">
        <div>State x<Single /></div>
        <div>
          State x<Single1
            imgPath="https://helenaadelaide.dk/kea/11_interfacedesign/faraos/billeder/Comic_3.webp"
            title="Moon Knight - The Legend"
            beskrivelse="Udgave 69"
            pris="DKK 89,-"
            status="Udsolgt"
            button="Kommer snart"
            levering="1-2 hverdage"
          />
        </div>
      </div>

      <h3>Butikker og åbningstider-siderne</h3>

      <article>
        <Store />
      </article>

      <h3>Grids og spacing</h3>
      <h4>Pattern Library</h4>
      <div class="content">
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
      </div>
      <h4>Visning med rem/px</h4>
      <div class="content">
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
      </div>
    </main>
  </body>
</html>

<style>
  /* Centrer alt indhold */
  body {
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
  }
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  /* Responsivt grid til farvepaletten */
  .color-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    margin: 32px 0;
  }

  /* Grids til indholdselementer */
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    margin: 32px 0;
  }
  .content_single {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    gap: 32px;
    margin: 32px 0;
  }
</style>
