---
import Card from "../components/Card.astro";
import Single from "../components/Single.astro";
import svgReference from "./farver.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <h1>Komponent Bibliotek</h1>
      <h2>Farvepalette</h2>
      <div class="color-palette">
        <img src="src/farver.svg" alt="farver" />
      </div>
      <h2>Typografi Hierarki</h2>
      <div>
        <!-- Plads til at tilføje en masse skrifttyper -->
      </div>
      <h2>Indholdselementer</h2>
      <h3>Knapper</h3>
      <div class="content">
        <div style="background-color: #FFFFFF;">Primær</div>
        <div style="background-color: #FFFFFF;">Primær hover</div>
        <div style="background-color: #FFFFFF;">Sekundær</div>
        <div style="background-color: #FFFFFF;">Sekundær hover</div>
        <div style="background-color: #FFFFFF;">Sekundær hover</div>
        <div style="background-color: #FFFFFF;">Sekundær hover</div>
      </div>
      <h3>Cards</h3>
      <div class="content">
        <div>State x<Card /></div>
        <div>State x<Card /></div>
        <div>State x<Card /></div>
      </div>

      <h3>Single view</h3>
      <div class="content_single">
        <div>State x<Single /></div>
      </div>

      <h3>Grids og spacing</h3>
      <h4>Pattern Library</h4>
      <div class="content">
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
      </div>
      <h4>Visning med rem/px</h4>
      <div class="content">
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
        <div style="background-color: #FFFFFF;">Placeholder</div>
      </div>
    </main>
  </body>
</html>

<style>
  /* Centrer alt indhold */
  body {
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  /* Responsivt grid til farvepaletten */
  .color-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    margin: 32px 0;
  }

  /* Grids til indholdselementer */
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    margin: 32px 0;
  }
  .content_single {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    gap: 32px;
    margin: 32px 0;
  }
</style>
