---

---
<!-- <article class="card">
    <div class="card_body">
        <img src="#" alt="">
        <p>Navn</p>
        <p>undertitel</p>
        <p>pris</p>
    </div>

    <div class="card_product_grid_1">
        <div class="row">
            <p>lagerstatus</p>
            <p>levering</p>
        </div>
        
    </div>

    <div class="card_product_grid_2">
        <button>Læg i kurv</button>
    </div>
    
    
    
</article> -->
<div class="card">
    <img src="https://placehold.co/600x800" alt="Billede af produkt">
    <p class="produkt">Produktnavn</p>
    <p class="beskrivelse">Beskrivelse af produkt</p>
    <p class="pris">DKK 129,-</p>
    <div class="info">
      <p>På lager</p>
      <p>1-2 hverdage</p>
    </div>
    <button class="knap">Læg i kurv</button>
  </div>

<style>
    .card {
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
  max-width: 300px;
  margin: auto;
  text-align: left;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;

}

.card img {
  width: 100%;
}

.produkt {
  margin-top: 16px;
  font-size: 1em;
}

.beskrivelse {
  margin-top: 8px;
  font-size: 0.8em;
}


.card .pris {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.card .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid grey;
}

.card .knap {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}

.card .knap:hover {
  background-color: #3e8e41;
}

</style>