---

---

<div class="card">
    <img src="https://placehold.co/600x800" alt="Billede af produkt">
    <p class="produkt">Produktnavn</p>
    <p class="beskrivelse">Beskrivelse af produkt</p>
    <p class="pris">DKK 129,-</p>
    <div class="info">
      <p>På lager</p>
      <p>1-2 hverdage</p>
    </div>
    <button class="knap">Læg i kurv</button>
  </div>

<style>
    .card {
  border-radius: var();
  padding: 20px;
  transition: 0.3s;
  max-width: 300px;
  margin: auto;
  text-align: left;
  background-color: var(--colorBackground);

}

.card img {
  width: 100%;
}

.produkt {
  margin-top: 16px;
  font-size: 1em;
}

.beskrivelse {
  margin-top: 8px;
  font-size: 0.8em;
}


.card .pris {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.card .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid grey;
}

.card .knap {
  background-color: var(--colorGreen400);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}

.card .knap:hover {
  background-color: #3e8e41;
}

</style>